<?xml version="1.0"?>
<model>
  <name>crazy2fly_base</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
   <name>Lionel GENEVE</name>
   <email>lionel.geneve@ls2n.fr</email>
  </author>

  <description>
    This is the base model of the crazy2fly quadrotor frame.
  </description>
</model>
