<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find ls2n_drone_description)/models/crazy2fly_base/urdf/inertia.xacro" />

  <xacro:macro name="c2f_frame" params="mass *origin">
    <link name="frame_link">
      <visual name="frame_link_visual">
        <origin xyz="0 0 0" rpy="1.5708 0 0"/>
        <geometry>
          <mesh filename="package://ls2n_drone_description/models/crazy2fly_base/meshes/c2f_frame.obj" scale="1 1 1"/>
        </geometry>
      </visual>

      <collision name="frame_link_collision">
        <origin xyz="0 0 0" rpy="1.5708 0 0"/>
        <geometry>
          <mesh filename="package://ls2n_drone_description/models/crazy2fly_base/meshes/c2f_frame.obj" scale="1 1 1"/>
        </geometry>
      </collision>

      <xacro:inertial_sphere mass="${mass}" radius="0.08">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:inertial_sphere>
    </link>

    <joint name="base_to_frame_joint" type="fixed">
      <parent link="base_link"/>
      <child link="frame_link"/>
      <xacro:insert_block name="origin"/>
    </joint>
  </xacro:macro>  

</robot>
