<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find ls2n_drone_description)/models/crazy2fly_base/urdf/inertia.xacro" />

  <xacro:macro name="rpi5" params="*origin">
    <link name="rpi_link">
      <visual name="rpi_link_visual">
        <origin xyz="0 0 0" rpy="1.5708 0 0"/>
        <geometry>
          <mesh filename="package://ls2n_drone_description/models/crazy2fly_base/meshes/raspberryPi5.obj" scale="1 1 1"/>
        </geometry>
      </visual>

      <collision name="rpi_link_collision">
        <origin xyz="0 0 0" rpy="1.5708 0 0"/>
        <geometry>
          <mesh filename="package://ls2n_drone_description/models/crazy2fly_base/meshes/raspberryPi5.obj" scale="1 1 1"/>
        </geometry>
      </collision>

      <xacro:inertial_box mass="0.05" x="0.086" y="0.056" z="0.010">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:inertial_box>
    </link>

    <joint name="frame_to_rpi_joint" type="fixed">
      <parent link="frame_link"/>
      <child link="rpi_link"/>
      <xacro:insert_block name="origin"/>
    </joint>
  </xacro:macro>  

</robot>
