<?xml version="1.0" ?>
<robot name="drone1" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- Base body -->
  <link name="drone1/body">
    <visual>
      <geometry>
        <mesh filename="package://aquabot_gz/models/meshes/collada_files/cf2_assembly_with_props.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>



    <!-- Downward Left Camera -->
  <link name="drone1/downward_left_camera_link"/>
  <joint name="drone1/downward_left_camera_joint" type="fixed">
    <parent link="drone1/body"/>
    <child link="drone1/downward_left_camera_link"/>
    <origin xyz="-0.05 0 -0.02" rpy="0 1.5708 0"/> <!-- 10cm baseline -->
  </joint>

  <!-- Downward Right Camera -->
  <link name="drone1/downward_right_camera_link"/>
  <joint name="drone1/downward_right_camera_joint" type="fixed">
    <parent link="drone1/body"/>
    <child link="drone1/downward_right_camera_link"/>
    <origin xyz="0.05 0 -0.02" rpy="0 1.5708 0"/> <!-- 10cm baseline -->
  </joint>



  <!-- Example propeller (repeat for m2, m3, m4) -->
  <link name="drone1/m1_prop"/>
  <joint name="drone1/m1_joint" type="fixed">
    <parent link="drone1/body"/>
    <child link="drone1/m1_prop"/>
    <origin xyz="0.031 -0.031 0.021" rpy="0 0 0"/>
  </joint>

  <link name="drone1/m2_prop"/>
  <joint name="drone1/m2_joint" type="fixed">
    <parent link="drone1/body"/>
    <child link="drone1/m2_prop"/>
    <origin xyz="-0.031 -0.031 0.021" rpy="0 0 0"/>
  </joint>

  <link name="drone1/m3_prop"/>
  <joint name="drone1/m3_joint" type="fixed">
    <parent link="drone1/body"/>
    <child link="drone1/m3_prop"/>
    <origin xyz="-0.031 0.031 0.021" rpy="0 0 0"/>
  </joint>

  <link name="drone1/m4_prop"/>
  <joint name="drone1/m4_joint" type="fixed">
    <parent link="drone1/body"/>
    <child link="drone1/m4_prop"/>
    <origin xyz="0.031 0.031 0.021" rpy="0 0 0"/>
  </joint>

  <link name="drone1/base_footprint"/>
  <joint name="base_footprint_to_body" type="fixed">
    <parent link="drone1/base_footprint"/>
    <child link="drone1/body"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

   <!-- IMU Sensor -->
  <link name="drone1/imu_link">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0.0" ixz="0.0" iyy="1e-6" iyz="0.0" izz="1e-6"/>
    </inertial>
  </link>

  <joint name="imu_joint" type="fixed">
    <parent link="drone1/body"/>
    <child link="drone1/imu_link"/>
    <origin xyz="0 0 0.01" rpy="0 0 0"/>
  </joint>







</robot>

